* {
	margin: 0;
	padding: 0;

}

#body {
	height: 100%;
}

#html {
	height: 100%
}


#map {

	height:100%;
	width:100%;
	position: absolute;
	left: 0;
	top: 0;
	}
/*	start styles for the ContextMenu	*/
.contextmenu{
 visibility: hidden;

 
 width: 90px;
 height: 25px;
 padding: 5px;
 position: relative;
 background-color:white;
 border:1px solid gray;
}
/*	end styles for the ContextMenu	*/
#layers {
    position:fixed;
    top: 10px;
    right: 5px;
    width:280px;

   }
#title4 {
    color: #000000;
    text-align:left;
    font-size: 10px;
    margin:auto;
  }

#accordion .ui-accordion-header {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
    color: white;
   }

#accordion .ui-accordion-content-active {
    font-size: 13px;
    padding: 9;
    border-style: 1;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
    color: white;

}

#dialog{
	font-size: 12px;


	}

#h4 {
	  color: #FF0000;
	  text-align:left;
      font-size: 10px;
	}

#logo {
	position:fixed;
    top: 0px;
	left:35%;


   }

   button, input[type='button'] {
    padding: .25em;
    display: block;
}

.hide {
    display: none;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}
